<phpunit bootstrap="protected/tests/bootstrap.php"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	printerClass="WUnit_ResultPrinter"
	printerFile="protected/extensions/wunit/PHPUnit/ResultPrinter.php"
	stopOnFailure="false">
	<testsuites>
		<testsuite name="yii testsuite">
			<directory>./protected/tests/unit/</directory>
			<directory>./protected/tests/functional/</directory>
		</testsuite>
	</testsuites>
</phpunit>
